@charset "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
	border: 0;
}

.navbar-custom {
            background-color: #1C3B40;
}

#logout {
    background-color: #90ee90; /* Replace with your desired color */
    border-color: #90ee90; /* Replace with your desired color */
    color: #000000; /* Replace with your desired text color */
}

.ms-2 {
    color: white;
    font-weight:700
}

.radio-canada-big-body {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}