@charset "ISO-8859-1";

#img1 {
    width: 50vw;
    height: 100vh;
}

#img2 {
	margin-bottom:2vh;
}

.radio-canada-big-body {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
